* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif; }

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden; }
  #app.open #menu {
    margin-left: 0; }
  #app.open .bot-cont-wrap {
    transition: all 0.2s ease;
    opacity: 0; }

.map-page {
  height: 100%;
  position: relative;
  min-width: 100vw; }

#menu {
  min-width: 82vw;
  height: 100vh;
  margin-left: -82vw;
  transition: all 0.2s ease; }
  #menu .top-part {
    height: 110px;
    background: #F3F6F8;
    padding: 18px 15px;
    border-bottom: 1px solid #CFDDE1;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1); }
  #menu .menu-content {
    padding: 0 10px; }
  #menu .img-cont {
    height: 75px;
    width: 75px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px; }
    #menu .img-cont img {
      width: 100%;
      height: auto; }
  #menu .name {
    font-size: 16px;
    color: #5093DF; }
  #menu .car {
    font-size: 16px;
    color: #5093DF; }
  #menu .rank {
    font-size: 13px;
    margin-top: 10px;
    color: #5093DF; }
    #menu .rank li {
      width: 15px;
      height: 15px;
      background: #65B7FC;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      display: inline-flex;
      align-items: center;
      justify-content: center; }
  #menu ul {
    list-style: none;
    display: inline-block; }
  #menu .profile {
    height: 80px;
    display: flex;
    align-items: center;
    color: #5093DF; }
    #menu .profile .img-cont {
      height: 30px;
      width: 30px;
      margin-left: 12px;
      margin-right: 20px; }
    #menu .profile svg {
      height: 100%;
      width: auto;
      fill: currentColor;
      color: #5093DF; }
  #menu .item {
    height: 50px;
    color: #5093DF;
    display: flex;
    align-items: center;
    padding-left: 30px; }
  #menu .middle-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 0;
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0; }
    #menu .middle-menu li {
      width: 100%;
      height: 60px;
      align-items: center;
      color: #5093DF; }
    #menu .middle-menu .img-cont {
      width: 30px;
      height: 30px;
      margin-left: 12px;
      margin-right: 20px;
      border-radius: 0; }
    #menu .middle-menu svg {
      width: 30px;
      height: 30px;
      fill: currentColor;
      color: #5093DF; }

#map {
  height: 100%;
  transition: all 0.2s ease; }

.flex {
  display: flex; }

.s-between {
  justify-content: space-between; }

.menu-button {
  top: 15px;
  left: 12px;
  border-radius: 2px;
  border: 1px solid #D3DFE1;
  z-index: 9999; }

.std-but {
  height: 50px;
  width: 50px;
  top: 15px;
  left: 12px;
  border-radius: 3px;
  background: #F2F5F7;
  font-size: 28px;
  color: #6F7071;
  display: flex;
  align-items: center;
  justify-content: center; }

.top-buttons {
  position: absolute;
  top: 15px;
  width: 100%;
  padding: 0 12px; }

.bot-cont-wrap {
  padding: 0 12px;
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 0;
  transition: all 0.2s ease; }

.bot-cont .tabs-cont {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s ease; }
.bot-cont .center-but {
  height: 57px;
  width: 57px;
  background: #FF6D64;
  border-radius: 30px;
  border: 1px solid #D3DFE1;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  font-size: 0;
  display: flex;
  margin: 0 auto; }
.bot-cont .close {
  position: absolute;
  left: 50%;
  top: 18px;
  transform: translateX(-50%) rotate(-180deg);
  color: #FFFFFF;
  transition: all 0.2s ease; }
.bot-cont .tab-sel {
  display: flex;
  justify-content: space-between; }
.bot-cont .one-tab {
  background: #FFFFFF;
  width: 32%;
  height: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #6F7071;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #EDEDED;
  position: relative; }
  .bot-cont .one-tab.active {
    z-index: 2;
    color: #5093DF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-top: 1px solid #FFFFFF; }
    .bot-cont .one-tab.active svg {
      fill: currentColor;
      color: #5093DF; }
  .bot-cont .one-tab .img-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: auto;
    margin-bottom: 5px; }
  .bot-cont .one-tab svg {
    width: 100%;
    height: auto;
    fill: currentColor;
    color: #6F7071; }
.bot-cont.open {
  background: rgba(243, 246, 248, 0.7);
  padding: 15px 4px 7px 4px;
  width: 100%; }
  .bot-cont.open .tabs-cont {
    max-height: 400px;
    transition: all 0.2s ease; }
  .bot-cont.open .center-but {
    height: 48px;
    margin: 7px auto 0 auto;
    background: #FF6D64;
    border-radius: 3px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc( 100% - 10px );
    transition: all 0.2s ease; }
  .bot-cont.open .one-tab-cont {
    padding: 0 12px;
    height: 250px; }
  .bot-cont.open .tabs-content {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: -1px;
    position: relative;
    z-index: 1;
    border-radius: 3px;
    height: auto;
    width: auto;
    overflow: visible; }
  .bot-cont.open .close {
    color: #FE6D64;
    font-size: 16px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    display: block;
    text-align: center;
    position: absolute;
    top: -2px;
    left: 50%;
    height: 5px;
    width: 5px;
    transform: translateX(-50%) rotate(0deg);
    transition: all 0.2s ease; }
    .bot-cont.open .close .fa {
      text-align: center; }
  .bot-cont.open .tab-sel {
    height: auto;
    width: auto;
    overflow: visible; }
.bot-cont #filter-tab .one-row {
  height: 33%;
  border-bottom: 1px solid #EAEAEA;
  padding: 14px 8px;
  display: flex; }
  .bot-cont #filter-tab .one-row:last-child {
    border-bottom: none; }
  .bot-cont #filter-tab .one-row .title {
    color: #5093DF;
    font-size: 16px; }
  .bot-cont #filter-tab .one-row .content {
    display: flex;
    align-items: flex-end; }
    .bot-cont #filter-tab .one-row .content .time {
      color: #979797;
      font-size: 18px;
      text-decoration: none; }
      .bot-cont #filter-tab .one-row .content .time span {
        font-size: 16px;
        color: rgba(151, 151, 151, 0.3); }
        .bot-cont #filter-tab .one-row .content .time span i {
          color: #D8D8D8;
          font-style: normal; }
.bot-cont #filter-tab .img-cont {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; }
  .bot-cont #filter-tab .img-cont svg {
    fill: currentColor;
    color: #6F7071;
    width: 100%; }
.bot-cont #filter-tab .day-sel a {
  font-size: 16px;
  display: inline-flex;
  text-decoration: none;
  color: #F1F1F1; }
  .bot-cont #filter-tab .day-sel a:last-child:after {
    display: none; }
  .bot-cont #filter-tab .day-sel a:after {
    content: "";
    height: 17px;
    width: 1px;
    background: #B6B6B6;
    display: inline-block;
    margin: 0 12px; }
  .bot-cont #filter-tab .day-sel a.active {
    color: #6F7071; }
.bot-cont #search-tab .one-row {
  height: 25%;
  border-bottom: 1px solid #EAEAEA;
  padding: 8px 8px;
  display: flex;
  position: relative; }
  .bot-cont #search-tab .one-row:last-child {
    border-bottom: none; }
  .bot-cont #search-tab .one-row .title {
    color: #5093DF;
    font-size: 16px;
    position: absolute;
    top: 8px;
    left: 65px; }
  .bot-cont #search-tab .one-row .content {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
    justify-content: center; }
    .bot-cont #search-tab .one-row .content a {
      text-decoration: none;
      color: rgba(111, 112, 113, 0.1); }
      .bot-cont #search-tab .one-row .content a:after {
        content: "";
        height: 17px;
        width: 1px;
        background: #B6B6B6;
        display: inline-block;
        margin: 0 12px; }
      .bot-cont #search-tab .one-row .content a:last-child:after {
        display: none; }
      .bot-cont #search-tab .one-row .content a.active {
        color: rgba(111, 112, 113, 0.8); }
    .bot-cont #search-tab .one-row .content .time {
      color: #979797;
      font-size: 18px; }
      .bot-cont #search-tab .one-row .content .time span {
        font-size: 16px;
        color: rgba(151, 151, 151, 0.3); }
        .bot-cont #search-tab .one-row .content .time span i {
          color: #D8D8D8;
          font-style: normal; }
.bot-cont #search-tab .dist {
  font-size: 18px;
  color: #6F7071; }
.bot-cont #search-tab .img-cont {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px; }
  .bot-cont #search-tab .img-cont svg {
    fill: currentColor;
    color: #6F7071;
    width: 100%; }
.bot-cont #fast-parking {
  overflow-y: scroll; }
  .bot-cont #fast-parking .one-row {
    height: 25%;
    padding: 8px;
    border-bottom: 1px solid #EAEAEA; }
    .bot-cont #fast-parking .one-row:last-child {
      border-bottom: none; }
    .bot-cont #fast-parking .one-row .content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .bot-cont #fast-parking .one-row .ico-time {
      color: #5093DF;
      position: absolute;
      left: 19px;
      top: 17px;
      transform: translateX(-50%);
      font-size: 15px; }
  .bot-cont #fast-parking .img-cont {
    height: 100%;
    width: 60px;
    position: relative; }
    .bot-cont #fast-parking .img-cont svg {
      height: 100%;
      width: auto; }
  .bot-cont #fast-parking .time {
    list-style: none;
    display: flex;
    padding-left: 7px; }
    .bot-cont #fast-parking .time li {
      text-decoration: none;
      color: #6F7071; }
      .bot-cont #fast-parking .time li:after {
        content: "";
        display: inline-block;
        height: 17px;
        width: 1px;
        background: #B6B6B6;
        margin: 0 8px;
        position: relative;
        top: 4px; }
      .bot-cont #fast-parking .time li:last-child:after {
        display: none; }
      .bot-cont #fast-parking .time li.holiday {
        color: #FB0007; }

/*# sourceMappingURL=style.css.map */
