* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  &.open {
    #menu {
      margin-left: 0;
    }
    #map {
      //transform: translateX(-22%) perspective(600px) rotateY(-45deg);
    }
    .bot-cont-wrap {
      transition: all 0.2s ease;
      opacity: 0;
    }
  }
}
.map-page {
  height: 100%;
  position: relative;
  min-width: 100vw;

}
#menu {
  min-width: 82vw;
  height: 100vh;
  margin-left: -82vw;
  transition: all 0.2s ease;
  .top-part {
    height: 110px;
    background: #F3F6F8;
    padding: 18px 15px;
    border-bottom: 1px solid #CFDDE1;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
  }
  .menu-content {
    padding: 0 10px;
  }
  .img-cont {
    height: 75px;
    width: 75px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    img {
      width: 100%;
      height: auto;
    }
  }
  .name {
    font-size: 16px;
    color: #5093DF;
  }
  .car {
    font-size: 16px;
    color: #5093DF;
  }
  .rank {
    font-size: 13px;
    margin-top: 10px;
    color: #5093DF;
    li {
      width: 15px;
      height: 15px;
      background: #65B7FC;
      border: 1px solid #FFFFFF;
      color: #FFFFFF;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
  }
  ul {
    list-style: none;
    display: inline-block;
  }
  .profile {
    height: 80px;
    display: flex;
    align-items: center;
    color: #5093DF;
    .img-cont {
      height: 30px;
      width: 30px;
      margin-left: 12px;
      margin-right: 20px;
    }
    svg {
      height: 100%;
      width: auto;
      fill: currentColor;
      color: #5093DF;
    }
  }
  .item {
    height: 50px;
    color: #5093DF;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  .middle-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 13px 0;
    li {
      width: 100%;
      height: 60px;
      align-items: center;
      color: #5093DF;
    }
    .img-cont {
      width: 30px;
      height: 30px;
      margin-left: 12px;
      margin-right: 20px;
      border-radius: 0;
    }
    svg {
      width: 30px;
      height: 30px;
      fill: currentColor;
      color: #5093DF;
    }
    border-bottom: 1px solid #F0F0F0;
    border-top: 1px solid #F0F0F0;
  }
}
#map {
  height: 100%;
  transition: all 0.2s ease;
}
.flex {
  display: flex;
}
.s-between {
  justify-content: space-between;
}
.menu-button {
  top: 15px;
  left: 12px;
  border-radius: 2px;
  border: 1px solid #D3DFE1;
  z-index: 9999;

}
.std-but {
  height: 50px;
  width: 50px;
  top: 15px;
  left: 12px;
  border-radius: 3px;
  background: #F2F5F7;
  font-size: 28px;
  color: #6F7071;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-buttons {
  position: absolute;
  top: 15px;
  width: 100%;
  padding: 0 12px;
}
.bot-cont-wrap {
  padding: 0 12px;
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 0;
  transition: all 0.2s ease;
}
.bot-cont {
  .tabs-cont {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .center-but {
    height: 57px;
    width: 57px;
    background: #FF6D64;
    border-radius: 30px;
    border: 1px solid #D3DFE1;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    font-size: 0;
    display: flex;
    margin: 0 auto;
  }
  .close {
    position: absolute;
    left: 50%;
    top: 18px;
    transform: translateX(-50%) rotate(-180deg);
    color: #FFFFFF;
    transition: all 0.2s ease;
  }
  .tab-sel {
    display: flex;
    justify-content: space-between;
  }
  .one-tab {
    background: #FFFFFF;
    width: 32%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #6F7071;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #EDEDED;
    position: relative;
    &.active {
      z-index: 2;
      color: #5093DF;
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
      border-top: 1px solid #FFFFFF;
      svg {
        fill: currentColor;
        color: #5093DF;
      }
    }
    .img-cont {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: auto;
      margin-bottom: 5px;
    }
    svg {
      width: 100%;
      height: auto;
      fill: currentColor;
      color: #6F7071;
    }
  }
  &.open {
    .tabs-cont {
      max-height: 400px;
      transition: all 0.2s ease;
    }
    background: rgba(243,246,248,0.7);
    padding: 15px 4px 7px 4px;
    width: 100%;
    .center-but {
      height: 48px;
      margin: 7px auto 0 auto;
      background: #FF6D64;
      border-radius: 3px;
      font-size: 16px;
      text-decoration: none;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc( 100% - 10px );
      transition: all 0.2s ease;
    }
    .one-tab-cont {
      padding: 0 12px;
      height: 250px;
    }
    .tabs-content {
      background: #FFFFFF;
      border: 1px solid #EDEDED;
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
      margin-bottom: -1px;
      position: relative;
      z-index: 1;
      border-radius: 3px;
      height: auto;
      width: auto;
      overflow: visible;
    }
    .close {
      color: #FE6D64;
      font-size: 16px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      display: block;
      text-align: center;
      position: absolute;
      top: -2px;
      left: 50%;
      height: 5px;
      width: 5px;
      transform: translateX(-50%) rotate(0deg);
      transition: all 0.2s ease;
      .fa {
        text-align: center;
      }
    }
    .tab-sel {
      height: auto;
      width: auto;
      overflow: visible;
    }
  }
  #filter-tab {
    .one-row {
      height: 33%;
      border-bottom: 1px solid #EAEAEA;
      padding: 14px 8px;
      display: flex;
      &:last-child {
        border-bottom: none;
      }
      .title {
        color: #5093DF;
        font-size: 16px;
      }
      .content {
        display: flex;
        align-items: flex-end;
        .time {
          color: #979797;
          font-size: 18px;
          text-decoration: none;
          span {
            font-size: 16px;
            color: rgba(151,151,151,0.3);
            i {
              color: #D8D8D8;
              font-style: normal;
            }
          }
        }
      }
    }
    .img-cont {
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      svg {
        fill: currentColor;
        color: #6F7071;
        width: 100%;
      }
    }
    .day-sel {
      a {
        font-size: 16px;
        display: inline-flex;
        text-decoration: none;
        color: #F1F1F1;
        &:last-child:after {
          display: none;
        }
        &:after {
          content: "";
          height: 17px;
          width: 1px;
          background: #B6B6B6;
          display: inline-block;
          margin: 0 12px;
        }
        &.active {
          color: #6F7071;
        }

      }
    }
  }

  #search-tab {
    .one-row {
      height: 25%;
      border-bottom: 1px solid #EAEAEA;
      padding: 8px 8px;
      display: flex;
      position: relative;
      &:last-child {
        border-bottom: none;
      }
      .title {
        color: #5093DF;
        font-size: 16px;
        position: absolute;
        top: 8px;
        left: 65px;
      }
      .content {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;
        justify-content: center;
        a {
          text-decoration: none;
          color: rgba(111,112,113,0.1);
          &:after {
            content: "";
            height: 17px;
            width: 1px;
            background: #B6B6B6;
            display: inline-block;
            margin: 0 12px;
          }
          &:last-child {
            &:after {
              display: none;
            }
          }
          &.active {
            color: rgba(111,112,113,0.8);
          }
        }
        .time {
          color: #979797;
          font-size: 18px;
          span {
            font-size: 16px;
            color: rgba(151,151,151,0.3);
            i {
              color: #D8D8D8;
              font-style: normal;
            }
          }
        }
      }
    }
    .dist {
      font-size: 18px;
      color: #6F7071;
    }
    .img-cont {
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      svg {
        fill: currentColor;
        color: #6F7071;
        width: 100%;
      }
    }
  }
  #fast-parking {
    overflow-y: scroll;
    .one-row {
      height: 25%;
      padding: 8px;
      border-bottom: 1px solid #EAEAEA;
      &:last-child {
        border-bottom: none;
      }
      .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .ico-time {
        color: #5093DF;
        position: absolute;
        left: 19px;
        top: 17px;
        transform: translateX(-50%);
        font-size: 15px;
        span {

        }
      }
    }
    .img-cont {
      height: 100%;
      width: 60px;
      position: relative;
      svg {
        height: 100%;
        width: auto;
      }
    }
    .time {
      list-style: none;
      display: flex;
      padding-left: 7px;
      li {
        text-decoration: none;
        color: #6F7071;
        &:after {
          content: "";
          display: inline-block;
          height: 17px;
          width: 1px;
          background: #B6B6B6;
          margin: 0 8px;
          position: relative;
          top: 4px;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
        &.holiday {
          color: #FB0007;
        }
      }
    }
  }

}
