* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}
#app {
  height: 100vh;
  width: 100vw;
}
.map-page {
  height: 100%;
  position: relative;
}
#map {
  height: 100%;
}
.flex {
  display: flex;
}
.s-between {
  justify-content: space-between;
}
.menu-button {
  top: 15px;
  left: 12px;
  border-radius: 2px;
  border: 1px solid #D3DFE1;
  z-index: 9999;

}
.std-but {
  height: 50px;
  width: 50px;
  top: 15px;
  left: 12px;
  border-radius: 3px;
  background: #F2F5F7;
  font-size: 28px;
  color: #6F7071;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-buttons {
  position: absolute;
  top: 15px;
  width: 100%;
  padding: 0 12px;
}
/*
.center-but {
  height: 56px;
  width: 56px;
  border: 1px solid #D3DFE1;
  border-right: 30px;
  background: #FF6D64;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -28px;
  border-radius: 30px;
}
*/
.bot-cont-wrap {
  padding: 0 12px;
  position: absolute;
  width: 100%;
  bottom: 12px;
  left: 0;
}
.bot-cont {
  .tabs-cont {
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .center-but {
    height: 57px;
    width: 57px;
    background: #FF6D64;
    border-radius: 30px;
    border: 1px solid #D3DFE1;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
    font-size: 0;
    display: flex;
    margin: 0 auto;
  }
  .close {
    position: absolute;
    left: 50%;
    top: 18px;
    transform: translateX(-50%) rotate(-180deg);
    color: #FFFFFF;
    transition: all 0.2s ease;
  }
  .tab-sel {
    display: flex;
    justify-content: space-between;
  }
  .one-tab {
    background: #FFFFFF;
    width: 32%;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #6F7071;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    border: 1px solid #EDEDED;
    position: relative;
    &.active {
      z-index: 2;
      color: #5093DF;
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
      border-top: 1px solid #FFFFFF;
      svg {
        fill: currentColor;
        color: #5093DF;
      }
    }
    .img-cont {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: auto;
      margin-bottom: 5px;
    }
    svg {
      width: 100%;
      height: auto;
      fill: currentColor;
      color: #6F7071;
    }
  }
  &.open {
    .tabs-cont {
      max-height: 400px;
      transition: all 0.2s ease;
    }
    background: rgba(243,246,248,0.7);
    padding: 15px 4px 7px 4px;
    width: 100%;
    .center-but {
      height: 48px;
      margin: 7px 5px 0 5px;
      background: #FF6D64;
      border-radius: 3px;
      font-size: 16px;
      text-decoration: none;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      transition: all 0.2s ease;
    }
    .one-tab-cont {
      padding: 0 12px;
      height: 250px;
    }
    .tabs-content {
      background: #FFFFFF;
      border: 1px solid #EDEDED;
      box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
      margin-bottom: -1px;
      position: relative;
      z-index: 1;
      border-radius: 3px;
      height: auto;
      width: auto;
      overflow: visible;
    }
    .close {
      color: #FE6D64;
      font-size: 16px;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
      display: block;
      text-align: center;
      position: absolute;
      top: -2px;
      left: 50%;
      height: 5px;
      width: 5px;
      transform: translateX(-50%) rotate(0deg);
      transition: all 1s ease;
      .fa {
        text-align: center;
      }
    }
    .tab-sel {
      height: auto;
      width: auto;
      overflow: visible;
    }
  }
  #filter-tab {
    .one-row {
      height: 33%;
      border-bottom: 1px solid #EAEAEA;
      padding: 14px 8px;
      display: flex;
      &:last-child {
        border-bottom: none;
      }
      .title {
        color: #5093DF;
        font-size: 16px;
      }
      .content {
        display: flex;
        align-items: flex-end;
      }
    }
    .img-cont {
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      svg {
        fill: currentColor;
        color: #6F7071;
        width: 100%;
      }
    }
    .day-sel {
      a {
        font-size: 16px;
        display: inline-flex;
        text-decoration: none;
        color: #F1F1F1;
        &:last-child:after {
          display: none;
        }
        &:after {
          content: "";
          height: 17px;
          width: 1px;
          background: #B6B6B6;
          display: inline-block;
          margin: 0 12px;
        }
        &.active {
          color: #6F7071;
        }

      }
    }
  }

  #search-tab {
    .one-row {
      height: 25%;
      border-bottom: 1px solid #EAEAEA;
      padding: 14px 8px;
      display: flex;
      &:last-child {
        border-bottom: none;
      }
      .title {
        color: #5093DF;
        font-size: 16px;
      }
      .content {
        display: flex;
        align-items: flex-end;
      }
    }
    .img-cont {
      height: 100%;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      svg {
        fill: currentColor;
        color: #6F7071;
        width: 100%;
      }
    }
  }

}
